/node_modules
/public/hot
/public/storage
/public/verification
/storage/app
/storage/*.key
/vendor
.env
.editorconfig
.env.development
.env.production
.env.testing
.styleci.yml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
.idea/workspace.xml
