/node_modules
/public/hot
/public/storage
/public/verification
/storage/app
/storage/*.key
/vendor
application/node_modules
application/public/hot
application/public/storage
application/public/verification
application/storage/app
application/storage/*.key
application/vendor
application/.env

.idea
application/.env
.editorconfig
.env.development
.env.production
.env.testing
.styleci.yml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
.idea/workspace.xml
.DS_Store
