$govuk-assets-path: 'assets/';

@import "node_modules/govuk-frontend/all";

.accepted-cards {
  display:block;
  width:100%;
  margin:15px 0 5px;
  padding:0;
  float:none;
  overflow:hidden;

  li {
    display:block;
    width: 3rem;
    height:0;
    margin:0 10px 5px 0;
    padding-bottom: 2rem;
    float:left;
    background-image:url('assets/images/accepted-cards-sprite.png');
    background-size:900% 200%;

    &.american-express {
      background-position:25% 100%;
      &.selected {
        background-position:25% 0%;
      }
    }

    &.visa {
      background-position:0% 100%;
      &.selected {
        background-position:0% 0%;
      }
    }

    &.mastercard {
      background-position:12.5% 100%;
      &.selected {
        background-position:12.5% 0%;
      }
    }

    &.unionpay {
      background-position:100% 100%;
      &.selected {
        background-position:100% 0%;
      }
    }

    &.jcb {
      background-position:37.5% 100%;
      &.selected {
        background-position:37.5% 0%;
      }
    }

    &.discover {
      background-position:62.5% 100%;
      &.selected {
        background-position:62.5% 0%;
      }
    }

    &.diners-club {
      background-position:50% 100%;
      &.selected {
        background-position:50% 0%;
      }
    }
  }

  &.field-empty {
      .american-express {
        background-position:25% 0%;
      }

      .visa {
        background-position:0% 0%;
      }

      .mastercard {
        background-position:12.5% 0%;
      }

      .unionpay {
        background-position:100% 0%;
      }

      .jcb {
        background-position:37.5% 0%;
      }

      .discover {
        background-position:62.5% 0%;
      }

      .diners-club {
        background-position:50% 0%;
      }
    }
  }

@media (min-width: 40.0625em) {
  .accepted-cards {
    width:66.666%;
  }
}

.govuk-form-group {
  &.cvc {
    img {
      position:relative;
      top:-1px;
      max-height:38px;
      float:left;
      margin-right:15px;
    }
    .either {
      font-family: "nta",Arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
      line-height: 37px !important;
      color: #6f777b;
      float: left;
      margin-right: 15px;
    }
  }
}

.hidden {
  display:none;
}

@media (min-width: 40.0625em) {
    .govuk-date-input__item--with-separator:after {
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 1.1111111111;
    }
}

.govuk-date-input__item--with-separator {
    position: relative;
    margin-right: 40px;
}

.govuk-date-input__item--with-separator:after {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    content: '/';
    position: absolute;
    top: 71%;
    right: -1.5rem;
    transform: translate(0, -50%);
}

.pay-\!-border-top {
  border-top: 1px solid #bfc1c3;
}