$govuk-assets-path: 'assets/';

@import "node_modules/govuk-frontend/all";

.pay-\!-border-top {
  border-top: 1px solid #bfc1c3;
}

#global-cookie-message {
    background-color:#f3f2f1;
}

.gem-c-cookie-banner__confirmation {
    display:none;
}
