//$govuk-assets-path: '';
//$govuk-images-path: '';
//$govuk-fonts-path: '';

@import "~govuk-frontend/govuk/all";

#global-cookie-message {
    padding-bottom: 15px;
    padding-top: 15px;
}

.gem-c-cookie-banner__confirmation-message:focus {
    border: none;
    //outline: none;
}

.govuk-hide-button  {
    float: right;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    border: none;
    outline: none;
    font-family: "GDS Transport", arial, sans-serif;

    & :focus {
        border: none;
        outline: none;
    }
}

.govuk-cookie-message {
    &__request {
    }
    &__accepted {
        display: none;
        margin-bottom: 15px;
        margin-top: 15px;
        outline: none;
        overflow: hidden;

        .govuk-body {
            float: left;
            margin: 0;
        }
    }
}

.govuk-form-group {
    .autocomplete {
        &__menu {
            font-family: Arial;
        }
    }

    &--error {
        .autocomplete {
            &__input {
                border: 2px solid #d4351c;
                &:focus {
                    border: 2px solid #0b0c0c;
                }
            }
        }
    }
}


@media (min-width: 40.0625em) {
    .govuk-success-alert {
        padding: 20px;
        border-width: 5px;
        margin-bottom: 50px;
    }
}
.govuk-success-alert {
    margin-bottom: 50px;
    color: #0b0c0c;
    border: 4px solid #00703c;

    h2 {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 20px;
        margin-top: 0;
        font-weight: 700;
        font-family: "nta",arial,sans-serif;
    }
}
